service: orchestrator

runtime: python27
api_version: 1
threadsafe: true

handlers:
- url: /.*
  script: app.services.orchestrator.orchestrator.app
  secure: always
  login: admin

libraries:
- name: ssl
  version: latest

env_variables:
  {{ ADDITIONAL_ENV_VARS }}

{{ ADDITIONAL_SETTINGS }}
